<!DOCTYPE html>

<html>
  <head>
    <title>YT Downloader!</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
  </head>
  <body>
    <center>
      <h1>Enter YT Link</h1>
      <form method="POST" action = "/send_data">
        <div class = "form-group">
          <input type="text" name = "pay">
        </div>
        <input class="btn btn-primary" type="submit" value="Enter Link">
      </form>
      <p>Disclaimer: Takes a sec to load. Longer the video, longer the load time.</p>
      <p>Disclaimer 2: im not good at css so fuck you im not making this bitch pretty.</p>
      <p>my discord: gimmie a sec i gotta find it lmao</p>
    </center>
  </body>
</html>
